.offers{
    width: 75%;
    height: 60vh;
    display: flex;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px;
    background: linear-gradient(180deg, #ffbcbc7f 0%, #f3fff622 60%);
    /* background: rgba(0, 0, 0, 0.752); */
}
h1{
    font-weight: 900;
}